blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  padding-bottom: 0.5rem;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 0.6rem;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  line-height: 1.45;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  scrollbar-width: 1rem;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border: 3px solid var(--scrollbar-background-color);
}

img {
  height: auto;
  max-width: 100%;
}

html,
body {
  background-color: var(--background-color);
}

body {
  color: var(--text-color);
  max-width: 59rem;
  margin: auto;
}

body,
input {
  font-family: 'Nunito Sans', 'Noto Sans Symbols 2', 'Segoe UI', 'Noto Sans JP', 'Noto Sans CJK JP',
    'Hiragino Sans GB', 'Meiryo', sans-serif;
}

input[type='text'],
textarea {
  font-family: 'Nunito Sans', 'Segoe UI', 'Noto Sans JP', 'Noto Sans CJK JP', 'Hiragino Sans GB',
    'Meiryo', sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  outline: none !important;
}

a:hover,
a:focus {
  border-bottom: 1px solid var(--link-underline-color);
}

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }

// td,
// th {
//   border-bottom: 0.1rem solid var(--table-border-color);
//   padding: 0.8rem 0.65rem;
//   text-align: left;
// }

// tr:last-child > td {
//   border-bottom: none;
// }

// th {
//   font-weight: 400;
//   color: var(--table-header-color);
// }

h1,
h2,
h3 {
  letter-spacing: -0.1rem;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h2 {
  font-size: 3rem;
  line-height: 1.3;
}

h3 {
  font-size: 2.38rem;
  line-height: 1.35;
}

h4 {
  font-size: 1.78rem;
  line-height: 1.5;
  letter-spacing: -0.07rem;
}

h5 {
  font-size: 1.48rem;
  line-height: 1.6;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.18rem;
  line-height: 1.7;
  letter-spacing: 0;
}

@media (min-width: 35rem) {
  h1,
  h2,
  h3,
  h4 {
    padding-bottom: 0.8rem;
  }
}

ul {
  list-style: circle inside;
  padding-left: 0.8rem;
}

ol {
  list-style: decimal inside;
}

ul ul {
  margin-left: 1rem;
  list-style: '— ';
}

ul ul > li {
  margin-left: 0.5rem;
}

ul ul > li:before {
  content: '';
  margin-right: 0.2rem;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  border-radius: 0.7rem;
  color: var(--button-text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 2.8rem;
  line-height: 1.4rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0 1px 1px var(--button-shadow-color);
  transition: all ease-in-out 0.2s;
  transform: translatey(-0.01rem);
  -webkit-appearance: none;
  font-weight: normal;
}

label.outline {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1.5rem;
}

a.outline,
label.outline,
input.outline {
  border-radius: 0.5rem;
}

a.outline,
label.outline {
  border: 1px solid var(--button-background-color);
  padding: 0.6rem 2.25rem;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

label[disabled].outline,
a[disabled] {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.button:focus,
button:focus,
a.outline:focus,
label.outline:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  border: 1px solid var(--button-focused-border-color);
  box-shadow: 0 1px 1px var(--button-shadow-color), 0 2px 8px var(--button-focused-shadow-color);
}

input::-moz-focus-inner {
  border: 0;
}

.button:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  outline: 0;
}

.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  transform: translatey(-0.25rem);
  border: 1px solid var(--button-hover-border-color);
  box-shadow: 0 1px 1px var(--button-shadow-color), 0 4px 10px var(--button-hover-shadow-color);
}

.button:active,
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  transform: scale(0.98);
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled],
input[type='text'][disabled],
input[type='number'][disabled] {
  cursor: default;
  opacity: 0.5;
}

label[disabled] {
  opacity: 0.5;
}

.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
}

input.outline,
a.outline,
label.outline {
  border-color: var(--button-focused-border-color);
  background-color: var(--outline-input-background-color);
  color: var(--outline-input-color);
  box-shadow: none;
  transform: none;
}

input.outline:hover,
a.outline:hover,
label.outline:hover {
  transform: none;
  box-shadow: inset 0 0 3px var(--outline-input-shadow-color);
}

input.outline:focus,
a.outline:focus,
label.outline:focus {
  box-shadow: none;
  text-decoration: underline;
  text-decoration-color: var(--outline-input-shadow-color);
  text-underline-offset: 0.4rem;
}

input.outline[disabled]:hover {
  background-color: var(--outline-input-background-color);
  border: 1px solid var(--outline-input-color);
  box-shadow: none;
}

.outline.v1 {
  color: var(--outline-v1-color);
  border-color: var(--outline-v1-color);
}

.outline.v1:hover {
  border-color: var(--outline-v1-color);
  box-shadow: inset 0 0 4px var(--outline-v1-color);
}

.outline.v1[disabled]:hover {
  border-color: var(--outline-v1-color);
  box-shadow: none;
}

.outline.v1:focus {
  border-color: var(--outline-v1-color);
  text-decoration-color: var(--outline-v1-color);
}

.outline.v2 {
  color: var(--outline-v2-color);
  border-color: var(--outline-v2-color);
}

.outline.v2:hover {
  border-color: var(--outline-v2-color);
  box-shadow: inset 0 0 4px var(--outline-v2-color);
}

.outline.v2:focus {
  border-color: var(--outline-v2-color);
  text-decoration-color: var(--outline-v2-color);
}

.outline.v3 {
  color: var(--outline-v3-color);
  border-color: var(--outline-v3-color);
}

.outline.v3:hover {
  border-color: var(--outline-v3-color);
  box-shadow: inset 0 0 4px var(--outline-v3-color);
}

.outline.v3:focus {
  border-color: var(--outline-v3-color);
  text-decoration-color: var(--outline-v3-color);
}

.outline.v4 {
  color: var(--outline-v4-color);
  border-color: var(--outline-v4-color);
}

.outline.v4:hover {
  border-color: var(--outline-v4-color);
  box-shadow: inset 0 0 4px var(--outline-v4-color);
}

.outline.v4:focus {
  border-color: var(--outline-v4-color);
  text-decoration-color: var(--outline-v4-color);
}

form.link-like {
  margin: 0;
}

form.link-like > input[type='submit'] {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 2.25rem;
  border-bottom: 1px solid transparent;
}

form.link-like > input,
form.link-like > input:hover {
  background-color: transparent;
  color: var(--text-color);
  box-shadow: none;
  transform: none;
  height: 2rem;
  border-radius: 0;
}

form.link-like > input:hover,
form.link-like > input:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid var(--link-underline-color);
}

form.plain,
form.plain > input[type='submit'] {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transform: none;
  background-color: transparent;
  color: var(--text-color);
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 0.6rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3rem;
  padding: 0.6rem 1rem;
  width: 100%;
  box-shadow: inset 0 1px 3px 0 var(--input-box-shadow-color);
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
  font-size: 0.95rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: var(--input-focused-border-color);
  outline: 0;
  box-shadow: inset 0 1px 2px 0 var(--input-focused-box-shadow-color);
}

textarea {
  min-height: 6.5rem;
  resize: vertical;
  display: block;
}

input[type='checkbox'][disabled],
input[type='checkbox'][disabled] ~ label,
input[type='radio'][disabled],
input[type='radio'][disabled] ~ label {
  opacity: 0.5;
}

input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-appearance: none;
  appearance: none;
  border: var(--checkbox-border-size) solid var(--checkbox-border-color);
  background-color: var(--checkbox-background-color);
  color: var(--checkbox-color);
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
  box-shadow: 0 0 3px var(--checkbox-box-shadow-color);
}

input[hidden] {
  display: none;
}

input[type='radio'] {
  border-radius: 16px;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
  outline: 0;
  border: var(--checkbox-border-size) solid var(--checkbox-focused-border-color);
  box-shadow: 0 0 4px var(--checkbox-focused-box-shadow-color);
}

input[type='checkbox'] ~ *,
input[type='radio'] ~ * {
  border-bottom: 1px solid transparent;
}

input[type='checkbox']:focus ~ *,
input[type='radio']:focus ~ * {
  border-bottom: 1px solid var(--checkbox-focused-text-underline-color);
}

input[type='checkbox']::before {
  content: '✔';
  visibility: hidden;
  margin-top: 0.2rem;
}

input[type='radio']::before {
  visibility: hidden;
  display: block;
  content: ' ';
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--checkbox-color);
  border-radius: 16px;
}

input[type='checkbox']:checked::before,
input[type='radio']:checked::before {
  visibility: visible;
}

input[type='checkbox'] {
  flex-shrink: 0;
}

form > .checkbox:first-child {
  margin-top: 0.5rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.checkbox input {
  flex-shrink: 0;
}

.checkbox + input[type='submit'] {
  margin-top: 1rem;
}

label,
legend {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

fieldset,
input,
select,
textarea,
.style-textarea-handle {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

hr {
  border: none;
  margin-bottom: 1.8rem;
}

hr.visible {
  margin-bottom: 1.3rem;
  margin-top: 1.6rem;
  height: 1px;
  min-height: 1px;
  background-image: var(--visible-hr-background);
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.container .container {
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

hr.bottom {
  margin: 0;
}

.hidden {
  display: none !important;
}

code {
  border: 1px solid #444;
  padding: 4px;
  border-radius: 4px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.strong {
  color: var(--text-strong-color);
}

a .icon {
  stroke: var(--link-color);
  width: 2.5rem;
  height: 2.5rem;
}

.button-link {
  padding: 0.75rem 1.25rem;
  white-space: nowrap;
}

.hbox,
.vbox,
.xbox {
  display: flex;
}

.hbox,
.vbox > .xbox {
  flex-direction: row;
}

.vbox,
.hbox > .xbox {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.hbox.gap > * {
  margin-right: 1rem;
}

.hbox.gap > *:last-child {
  margin-right: 0;
}

.vbox.gap > * ~ * {
  margin-top: 1rem;
}

.vbox.gap > .no-gap ~ * {
  margin-top: 0;
}

.vbox.gap > * ~ .no-gap {
  margin-top: 0;
}

@media (max-width: 40rem) {
  .vbox-when-small-40 {
    flex-direction: column;
  }

  .vbox-when-small-40.gap > * ~ * {
    margin-top: 1rem;
  }

  .vbox-when-small-40.hbox.gap > * {
    margin-right: 0;
  }
}

@media (max-width: 30rem) {
  .vbox-rev-when-small-30 {
    flex-direction: column-reverse;
  }

  .vbox-rev-when-small-30 > .xbox {
    flex-direction: row;
  }

  .vbox-rev-when-small-30.gap > * ~ * {
    margin-bottom: 1rem;
  }

  .vbox-rev-when-small-30.hbox.gap > * {
    margin-right: 0;
  }

  .wrap-under-30rem {
    flex-wrap: wrap;
  }
}

.greyed-out {
  opacity: 0.5;
  transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
}

.quote {
  padding-left: 1rem;
  border-left: 4px solid var(--link-underline-color);
}

.text-content {
  max-width: 40rem;
  margin: auto;
}

.text-content p {
  line-height: 1.6rem;
  text-align: justify;
}

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  min-width: 100px;
  max-width: 130px;
  background-color: #062b45;
  color: #fff;
  text-align: center;
  padding: 10px;
  line-height: 1.2;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
  bottom: 125%;
  left: 55%;
  margin-left: -60px;
  font-size: 0.75rem;
  font-weight: normal;
  visibility: hidden;
  white-space: normal;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

.form-box-parent {
  display: inline-flex;
  flex-direction: column;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-box > div {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-bottom: 0;
  gap: 0.5rem;
}

.form-box > div > label {
  padding-top: 1rem;
}

.form-box > div > input {
  margin-bottom: 0;
}
