<!DOCTYPE html>
<html class="dark-mode">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="en" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="theme-color" content="#181818" />
    <title>Settings - Anki JPDB Reader</title>

    <link rel="stylesheet" media="screen" href="@styles/theme.scss" />
    <link rel="stylesheet" media="screen" href="@styles/common.scss" />
    <link rel="stylesheet" media="screen" href="./settings.scss" />

    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/16.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="../../assets/48.png" />

    <script async type="text/javascript" src="./settings.ts"></script>
  </head>

  <body style="font-size: 100%">
    <div class="container" style="padding-top: 1rem">
      <h4 style="text-align: center; opacity: 0.85">Settings</h4>
      <form>
        <h6>JPDB Integration</h6>
        <div class="form-box-parent">
          <div class="form-box">
            <div>
              <label for="jpdbApiToken">JPDB API Token</label>
              <div class="inline-group">
                <input type="password" id="jpdbApiToken" name="jpdbApiToken" />
                <div>
                  <input type="button" id="apiTokenButton" class="button outline small" value="⭯"></input>
                </div>
              </div>
              <p style="opacity: 0.8">
                To find your API token, visit the
                <a
                  href="https://jpdb.io/settings#:~:text=in%20the%20future.-,Account%20information,-Username"
                  target="_blank"
                  >jpdb settings page</a
                >
                and scroll to the very bottom.
              </p>
            </div>
          </div>
        </div>
        <div class="form-box-parent" style="display: none">
          <div class="form-box">
            <div>
              <div class="checkbox">
                <input type="checkbox" id="enableAnkiIntegration" name="enableAnkiIntegration" disables="#jpdb-decks" enables="#anki-integration" />
                <label for="enableAnkiIntegration">Mine into Anki instead of JPDB</label>
              </div>
            </div>
            <p style="opacity: 0.8">Anki will be implemented at a later point in time!</p>
          </div>
        </div>

        <div id="jpdb-decks" class="collapsible" hidden skip-animation>
          <h6>Mining Configuration</h6>

          <p style="opacity: 0.8">
            To find the deck ID for a specific deck, open that deck's page on jpdb and look at the URL.
            <br />
            You will see something like <code>https://jpdb.io/deck?id=32</code>. The number at the end is
            the deck ID. <br />
            The following special deck IDs are also allowed: <code>blacklist</code>,
            <code>never-forget</code>, <code>forq</code> (= front of review queue)<br />
          </p>
          <div class="form-box-parent distance-after">
            <div class="form-box">
              <div>
                <label for="jpdbMiningDeck">Mining Deck</label>
                <input
                  style="width: 100%"
                  type="text"
                  id="jpdbMiningDeck"
                  name="jpdbMiningDeck"
                />
              </div>

              <div>
                <label for="jpdbBlacklistDeck">Blacklist Deck</label>
                <input
                  style="width: 100%"
                  type="text"
                  id="jpdbBlacklistDeck"
                  name="jpdbBlacklistDeck"
                />
              </div>
            </div>

            <div class="form-box">
              <div>
                <label for="jpdbForqDeck">FORQ Deck</label>
                <input
                  style="width: 100%"
                  type="text"
                  id="jpdbForqDeck"
                  name="jpdbForqDeck"
                />
              </div>

              <div>
                <label for="jpdbNeverForgetDeck">Never Forget Deck</label>
                <input
                  style="width: 100%"
                  type="text"
                  id="jpdbNeverForgetDeck"
                  name="jpdbNeverForgetDeck"
                />
              </div>
            </div>
          </div>

          <div class="form-box-parent distance-after">
            <div class="form-box">
              <div>
                <div class="checkbox">
                  <input type="checkbox" id="jpdbAddToForq" name="jpdbAddToForq" />
                  <label for="jpdbAddToForq">Add to FORQ when mining</label>
                </div>
              </div>
              <div>
                <div class="checkbox">
                  <input type="checkbox" id="jpdbUseTwoGrades" name="jpdbUseTwoGrades" disables=".grade-five" enables="#grade-two" />
                  <label for="jpdbUseTwoGrades">Use a 2-point pass/fail grading scale</label>
                </div>
              </div>
            </div>

            <div class="form-box"></div>
          </div>

          <p style="opacity: 0.8; margin-bottom: 0">
            Press escape to clear. Holding modifiers like shift or alt is supported. <br />
            Hotkeys are based on key position and independent of your current keyboard layout.
            <br />
            Note: Keybinds currently always work on the word you are hovering your mouse over,
            even if you have the popup for another word open.
            <br />
            Additionally, Left Mouse Click (without modifiers) as well as Right Mouse Click (no matter the modifiers) are not supported.
          </p>

          <div class="form-box-parent grade-five collapsible" hidden skip-animation>
            <div class="form-box">
              <div>
                <label for="jpdbReviewNothing">Review word as nothing</label>
                <keybind-input id="jpdbReviewNothing" name="jpdbReviewNothing"></keybind-input>
              </div>
            </div>
            <div class="form-box">
              <div>
                <label for="jpdbReviewSomething">Review word as something</label>
                <keybind-input id="jpdbReviewSomething" name="jpdbReviewSomething"></keybind-input>
              </div>
            </div>
          </div>
          <div class="form-box-parent grade-five collapsible" hidden skip-animation>
            <div class="form-box">
              <div>
                <label for="jpdbReviewHard">Review word as hard</label>
                <keybind-input id="jpdbReviewHard" name="jpdbReviewHard"></keybind-input>
              </div>
            </div>
            <div class="form-box">
              <div>
                <label for="jpdbReviewGood">Review word as good</label>
                <keybind-input id="jpdbReviewGood" name="jpdbReviewGood"></keybind-input>
              </div>
            </div>
            <div class="form-box">
              <div>
                <label for="jpdbReviewEasy">Review word as easy</label>
                <keybind-input id="jpdbReviewEasy" name="jpdbReviewEasy"></keybind-input>
              </div>
            </div>
          </div>

          <div id="grade-two" class="form-box-parent collapsible" hidden skip-animation>
            <div class="form-box">
              <div>
                <label for="jpdbReviewFail">Review word as fail</label>
                <keybind-input id="jpdbReviewFail" name="jpdbReviewFail"></keybind-input>
              </div>
            </div>

            <div class="form-box">
              <div>
                <label for="jpdbReviewPass">Review word as pass</label>
                <keybind-input id="jpdbReviewPass" name="jpdbReviewPass"></keybind-input>
              </div>
            </div>
          </div>
        </div>

        <div id="anki-integration" class="collapsible" hidden skip-animation>
          <h6>Anki Integration</h6>
          <div class="form-box-parent">
            <div class="form-box">
              <div>
                <label for="ankiUrl">Anki Connect Endpoint URL</label>
                <div class="inline-group">
                  <input type="text" id="ankiUrl" name="ankiUrl" />
                  <div>
                    <input type="button" id="ankiUrlButton" class="button outline small" value="⭯"></input>
                  </div>
                </div>
                <p style="opacity: 0.8; margin-bottom: 0;">
                  To find your Anki Connect endpoint URL, go to Anki -> Tools -> Add-ons ->
                  AnkiConnect -> Config.
                </p>
                <p style="opacity: 0.8; margin-bottom: 0;">
                  Enter the webBindAddress as well as the webBindPort as
                  <code>webBindAddress:webBindPort</code> - the default is <code>127.0.0.1:8765</code>.
                </p>
                <p style="opacity: 0.8; margin-bottom: 0;">
                  Install the <a href="https://ankiweb.net/shared/info/2055492159" target="_blank">AnkiConnect</a> Add-on if you haven't already.
                </p>
              </div>
            </div>

            <div class="form-box">
              <div>
                <label for="ankiProxyUrl">Anki Connect Endpoint Proxy</label>
                <div class="inline-group">
                  <input type="text" id="ankiProxyUrl" name="ankiProxyUrl" />
                  <div>
                    <input type="button" id="ankiProxyUrlButton" class="button outline small" value="⭯"></input>
                  </div>
                </div>
                <p style="opacity: 0.8; margin-bottom: 0;">
                  You can define an additional proxy for the Anki Connect endpoint. This is useful if
                  you are using asbplayers <a href="https://github.com/killergerbah/asbplayer?tab=readme-ov-file#advanced-features" target="_blank">auto capture option</a> for example.
                </p>
                <p style="opacity: 0.8; margin-bottom: 0;">
                  With this you can tunnel only a select few requests through the proxy to avoid triggering captures on blacklist items for example.
                </p>
              </div>
            </div>
          </div>

          <div id="requires-anki" hidden>
            <h6>Mining</h6>
            <mining-input id="ankiMiningConfig" name="ankiMiningConfig" title="Mining Deck">
              <p>This is your <b>mining deck</b>. Cards you mine will be saved here.</p>
              <p>Words from this deck will be displayed according to its learning state in anki.</p>
              <p>Also the Word and Reading configuration will be used to lookup words in Anki.</p>
            </mining-input>
            <mining-input id="ankiNeverForgetConfig" name="ankiNeverForgetConfig" title="Never Forget Deck">
              <p>This is your <b>never forget deck</b>. Cards you won't ever forget will be saved here.</p>
              <p>Words from this deck will be displayed as known.</p>
              <p>Also the Word and Reading configuration will be used to lookup words in Anki.</p>
            </mining-input>
            <mining-input id="ankiBlacklistConfig" name="ankiBlacklistConfig" title="Blacklist Deck">
              <p>This is your <b>blacklist deck</b>. Cards you don't want to learn will be saved here.</p>
              <p>Words from this deck will be displayed as suspended.</p>
              <p>Also the Word and Reading configuration will be used to lookup words in Anki.</p>
            </mining-input>
          </div>
        </div>

        <div class="form-box-parent distance-before">
          <div class="form-box">
            <div>
              <label for="contextWidth">Number of context sentences</label>
              <input
                style="width: 100%"
                type="number"
                id="contextWidth"
                name="contextWidth"
                min="1"
              />
              <p style="opacity: 0.8">
                Number of sentences for more context when mining from pure text content.
              </p>
            </div>
          </div>

          <div class="form-box"></div>
        </div>

        <h6>Accessibility</h6>
        <div class="form-box-parent">
          <div class="form-box">
            <div>
              <div class="checkbox">
                <input type="checkbox" id="showPopupOnHover" name="showPopupOnHover" />
                <label for="showPopupOnHover">Show the popup on hover</label>
              </div>
            </div>

            <div>
              <div class="checkbox">
                <input type="checkbox" id="touchscreenSupport" name="touchscreenSupport" />
                <label for="touchscreenSupport">Touchscreen support</label>
              </div>
            </div>

            <div>
              <div class="checkbox">
                <input type="checkbox" id="disableFadeAnimation" name="disableFadeAnimation" />
                <label for="disableFadeAnimation">Disable fade animation</label>
              </div>
            </div>
          </div>

          <div class="form-box"></div>
        </div>

        <h6>Keybinds</h6>
        <div class="form-box-parent">
          <div class="form-box">
            <p style="opacity: 0.8; padding-top: .5rem">
              Press escape to clear. Holding modifiers like shift or alt is supported. <br />
              Hotkeys are based on key position and independent of your current keyboard layout.
              <br />
              Note: Keybinds currently always work on the word you are hovering your mouse over,
              even if you have the popup for another word open.
              <br />
              Additionally, Left Mouse Click (without modifiers) as well as Right Mouse Click (no matter the modifiers) are not supported.
            </p>
          </div>
        </div>

        <div class="form-box-parent">
          <div class="form-box">
            <div>
              <label for="parseKey">Parse page or selection</label>
              <keybind-input id="parseKey" name="parseKey"></keybind-input>
            </div>
            <div>
              <label for="showPopupKey">Show popup</label>
              <keybind-input id="showPopupKey" name="showPopupKey"></keybind-input>
            </div>
            <div>
              <label for="showAdvancedDialogKey">Show advanced mining dialog</label>
              <keybind-input id="showAdvancedDialogKey" name="showAdvancedDialogKey"></keybind-input>
            </div>
            <div>
              <label for="lookupSelectionKey">Lookup selected text on JPDB</label>
              <keybind-input id="lookupSelectionKey" name="lookupSelectionKey"></keybind-input>
            </div>
          </div>

          <div class="form-box">
            <div>
              <label for="addToMiningKey">Add word to mining deck</label>
              <keybind-input id="addToMiningKey" name="addToMiningKey"></keybind-input>
            </div>
            <div>
              <label for="addToBlacklistKey">Add word to blacklist</label>
              <keybind-input id="addToBlacklistKey" name="addToBlacklistKey"></keybind-input>
            </div>
            <div>
              <label for="addToNeverForgetKey">Mark word as never forget</label>
              <keybind-input id="addToNeverForgetKey" name="addToNeverForgetKey"></keybind-input>
            </div>
          </div>
        </div>

        <h6 class="distance-before">Appearance</h6>
        <div class="form-box-parent">
          <div class="form-box">
            <div>
              <label for="customWordCSS">Custom Word CSS</label>
              <textarea
                id="customWordCSS"
                name="customWordCSS"
                placeholder="Custom Word CSS"
                spellcheck="false"
                style="height: 15rem; margin-bottom: 0"
              ></textarea>
              <p style="opacity: 0.8">This changes the appearance of words in text and subs.</p>
            </div>

            <div>
              <label for="customPopupCSS">Custom Popup CSS</label>
              <textarea
                id="customPopupCSS"
                name="customPopupCSS"
                placeholder="Custom Popup CSS"
                spellcheck="false"
                style="height: 15rem; margin-bottom: 0"
              ></textarea>
              <p style="opacity: 0.8">
                This changes the appearance of the popup shown when hovering over words.
              </p>
            </div>
          </div>
        </div>

        <div style="margin-top: 5rem;"></div>
        <div id="save-all-settings-box">
          <input
            type="submit"
            class="outline"
            style="font-weight: bold"
            value="Save settings"
            id="save-all-settings"
            disabled
          />
        </div>
      </form>
    </div>
  </body>
</html>
