h6 {
  margin-top: 1rem;
  font-size: 135%;
  font-weight: bold;
  text-align: center;
}

.subsection-header {
  font-size: 103%;
  margin-bottom: 0.5rem;
}

#save-all-settings-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 999;
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
}
#save-all-settings-box > input {
  margin-bottom: 1.2rem;
}

.explanation {
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  opacity: 0.8;
}

.distance-after {
  padding-bottom: 1.5rem;
}

.distance-before {
  padding-top: 1.5rem;
}

.form-box-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;

  .form-box {
    flex: 1;

    .inline-group {
      display: flex;
      gap: 0.5rem;

      input {
        margin-bottom: 0;

        &.button.small {
          height: 3rem;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
}

#save-all-settings-box,
.review-button-group {
  border-top: 0;
  box-shadow: 0 0 10px 2px var(--big-shadow-color);
  -webkit-box-shadow: 0 0 10px 2px var(--big-shadow-color);
}

input.v1 {
  border: 1px solid var(--outline-v1-color);
}

select {
  margin-bottom: 0;
  font-family: monospace;
}

.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-out 0.3s;

  &.is-open {
    max-height: 100px;
  }

  &.rem-height {
    max-height: unset;
  }

  [skip-animation] & {
    transition: none;
  }
}

#requires-anki {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-out 0.3s;

  &.is-open {
    max-height: 1000px;
  }

  &.rem-height {
    max-height: unset;
  }
}

ul {
  li {
    p {
      margin-left: 1.4rem;
      margin-bottom: 0.5rem;
    }
  }
}

// In accordions inputs are not displayed correctly
details {
  select {
    margin: 0 0 0.5rem 0;
    padding: 0 1rem;
  }

  .select {
    display: flex;
  }

  #template-list {
    div {
      display: flex;
      gap: 1rem;
    }
  }

  .controls-list {
    display: flex;
    gap: 1rem;

    input {
      margin-bottom: 0;
    }
  }
}
