article {
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-start;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

nav {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: sticky;
  top: 1em;
  left: 1em;
}

nav a.active {
  filter: var(--filter-more-contrast);
  text-decoration-thickness: 2px;
  font-weight: 600;
}

#save {
  margin-top: 1em;
}

body.has-unsaved-changes #save {
  --color-button-border: rgb(199, 58, 79);
  color: rgb(199, 58, 79);
  box-shadow: 0px 0px 0.4em 0.25em rgba(232, 104, 123);
}

#preview {
  position: sticky;
  top: 1em;
}

#settings {
  max-width: 48em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#import-file-picker {
  display: none;
}

section {
  display: grid;
  grid-template-columns: max-content minmax(min-content, 1fr) max-content;
  grid-auto-flow: dense;
  align-items: center;
  gap: 0.5em 1em;
}

section h1 {
  grid-column: 1 / span 3;
}

.explanation {
  grid-column: 1 / span 3;
  margin-bottom: 0.5em;
  opacity: 75%;
  font-size: 85%;
}

.setting {
  display: contents;
}

.setting::part(label) {
  grid-column: 1;
}

setting-string.setting::part(label) {
  grid-column: 1 / span 2;
}

.setting::part(input) {
  grid-column: 2;
}

.setting::part(input):invalid {
  border: 2px dashed red;
}

setting-string.setting::part(input) {
  grid-column: 1 / span 3;
}

.setting::part(reset-button) {
  grid-column: 3;
}
